<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button class="address-registration" (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title class="address-registration">Alterar senha</ion-title>
        <ion-buttons slot="end">
            <ion-button class="address-registration" (click)="salvar() " [strong]="true">Confirmar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

    <ion-row>

        <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
            <ion-label class="color-label">Senha antiga</ion-label>
            <ion-input  [clearInput]="true" placeholder="Senha antiga" name="input" type="password"
                [(ngModel)]="senhaAntiga"></ion-input>
        </ion-col>
    </ion-row>

    <ion-row>

        <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
            <ion-label class="color-label">Nova senha</ion-label>
            <ion-input [clearInput]="true" placeholder="Nova senha" name="input" type="password"
                [(ngModel)]="senhaNova"></ion-input>
        </ion-col>
    </ion-row>


    <ion-row>

        <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
            <ion-label class="color-label">Confirme a nova senha</ion-label>
            <ion-input [clearInput]="true" placeholder="Confirme a nova senha" name="input" type="password"
                [(ngModel)]="confirmarSenha"></ion-input>
        </ion-col>
    </ion-row>

</ion-content>