ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
    font-family: 'Lato', sans-serif;
}

ion-card{
    width: 250px;
    height: 400px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
}

ion-card:hover{
    cursor: pointer;
}

.value{
    color: var(--primary);
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.images{
    width: 250px;
}