.ion-padding{
    display: flex;
    justify-content: space-between;  
}

swiper-container {
    width: 100%;
    height: 100%;
    //border: 1px solid #8c8c8c;
    color: var(--primary);
    
}
  
swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 25px;
    color: var(--line);
}

.subtitle{
    font-size: 18px;
    color: var(--line);
}

.value{
    color: var(--primary)
}

.description{
    color: var(--primary);
    font-size: 22px;
}

#sidenav {

    ion-item{
      cursor: pointer;
    }
  
    ion-item[submenu-item] {
      padding-left: 25px; // maybe margin-left would work better to move the border as well
      color: var(--line);
      
    }
}

.images{
    width: 100%;
    height: 100%;
}

.adicionar{
    --background: #fff !important;
    color: var(--primary);
}





@media (max-width:767px){
    .descricao{
        margin-top: 100px;
    }
}