<ion-menu contentId="main-content">
  <ion-header>
      <ion-toolbar>
          <ion-title (click)="customer(0)">{{name}}</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
      
      <ion-list class="list" id="sidenav" *ngFor="let category of categories; let index = index">
          <ion-item >
              <span  (click)="produtosCategoria(category)">{{category.name}}</span>
              <ion-icon (click)="menuItemHandler(index)" *ngIf="category.subcategories.length > 0" name="chevron-down-outline" class="right"></ion-icon>
          </ion-item>
            
          <div *ngIf="category.show">
              <div *ngFor="let sub of category.subcategories">
                  <ion-item  (click)="produtosSubcategoria(sub)" submenu-item *ngIf="category.show"> {{sub.name}}</ion-item>
              </div>
          </div>
      </ion-list>

  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content" style="margin-bottom: 15px;">
  <ion-header>
      <ion-toolbar>

          <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title (click)="home()" style="cursor: pointer;">
              <img src="../../../assets/images/logo.png" style="width: 125px;">
          </ion-title>

          <ion-buttons slot="secondary" >
              <ion-row>
                  <ion-col>
                      <ion-button (click)="presentPopover($event)">
                          <ion-icon class="icon-navbar" slot="icon-only" name="person-circle"></ion-icon>
                      </ion-button>
                  </ion-col>
              </ion-row>
              
          </ion-buttons>
          
      </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding ">
    

    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col  class="descricao">
              <p class="description font">Carrinho de compras</p>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of cart; let indexC = index" style="margin-bottom: 20px !important;" 
            class="lineCart" >
          <ion-col size="2" class="colImage" >
              <img class="imageCart" alt="" src="{{item.photo.urlImage}}" />
          </ion-col>
          <ion-col size="9">
            <p class="font">{{item.name}}</p>
            <p style="margin-bottom: 1px;">Valor unitário: <span class="valueCart font">{{item.value | formatNumber:'currency'}}</span></p>
            <ion-input label="Quantidade:" class="inputNumber font" max="99" min="0" type="number" placeholder="000"
                 [(ngModel)]="item.amount" (ngModelChange)="calculaValorCompra()" style="width: 150px;"></ion-input>
            
          </ion-col>
          <ion-col size="1">
            <ion-icon class="btn-trash" name="trash-outline" (click)="removerItem(item, indexC)"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="!cart">
          <ion-col>
            <p class="font">Carrinho vazio</p>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col>
        <ion-row>
          <ion-col  class="descricao">
            <p class="description font">Dados do Cliente</p>
        </ion-col>
        </ion-row>

        <ion-row class="">
          <ion-col>
            <p class="font margin">{{client.name}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col>
            <p class="font margin">{{client.phone}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col>
            <p class="font margin">{{client.email}}</p>
          </ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col>
            <p class="font margin">{{client.cpf}}</p>
          </ion-col>
        </ion-row>

        <ion-card *ngFor="let address of addresses">
          <ion-checkbox labelPlacement="end" [(ngModel)]="address.enderecoSelecionado" (ngModelChange)="mudaEndereco(address)" >Endereço para entrega</ion-checkbox>
          <ion-row>
            <ion-col>
              <p class="font margin">Rua: {{address.street}}</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <p class="font margin">Número: {{address.number}}. Complemento: {{address.complement}}</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <p class="font margin">Bairro: {{address.neighborhood}}</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <p class="font margin">Cidade: {{address.city}}. CEP: {{address.cep}}</p>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <p class="font margin">Estado: {{address.state}}</p>
            </ion-col>
          </ion-row>
        </ion-card>


      <!--Último fecha col-->
      </ion-col>

    </ion-row>

    <ion-row *ngIf="cart && cepNaoCadastrado">
      <ion-col>
        <p class="font" style=" font-size: 20px;">Entrega não disponível para o local informado</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="cart && !cepNaoCadastrado && diasEntrega > 0">
      <ion-col>
        <p class="font" style=" font-size: 20px;">O prazo para a entrega é de <span class="font" style="color: var(--primary); font-size: 20px;">{{diasEntrega}}</span> dias úteis.</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="cart && !cepNaoCadastrado">
      <ion-col>
        <p class="font" style=" font-size: 20px;">Valor do frete: <span class="font" style="color: var(--primary); font-size: 20px;">{{frete | formatNumber:'currency'}}</span></p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="cart">
      <ion-col>
        <p class="description font">Forma de Pagamento</p>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="cart">
      <ion-col>
        <ion-radio-group [allowEmptySelection]="true" value="turtles"[(ngModel)]="payment" 
              (ngModelChange)="calculaValorFinal(payment)" >
          <ion-radio *ngFor="let pay of payments" value="{{pay.methods}}" style="margin-left: 20px;">{{pay.name}}</ion-radio><br />
        </ion-radio-group>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="cart && payment == 5">
      <ion-col col-3>
        <ion-select class="font" style="width: 190px;" label="Quantidade de Parcelas" label-placement="floating" [(ngModel)]="quantidadeParcelas">
          <ion-select-option *ngFor="let item of listaParcelas" value="{{item.ID}}">{{item.Name}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="cart">
      <ion-col>
        <p *ngIf="payment != 5" class="font" style=" font-size: 20px;">Valor total da compra: <span class="font" style="color: var(--primary); font-size: 20px;">{{valor | formatNumber:'currency'}}</span></p>

        <p *ngIf="payment && payment == 5 && quantidadeParcelas" class="font" style=" font-size: 20px;">Valor total da compra: 
          <span class="font" style="color: var(--primary); font-size: 20px;">{{valor | formatNumber:'currency'}}</span>
          divido em {{quantidadeParcelas}} parcelas de 
          <span class="font" style="color: var(--primary); font-size: 20px;">{{valor / quantidadeParcelas | formatNumber:'currency'}}</span> cada.
        </p>
      </ion-col>
    </ion-row>
    
    
    

    <ion-row *ngIf="cart">
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
        <ion-button class="font" expand="block" shape="round" (click)="finalizarCompra()">
          <ion-icon name="checkmark-outline"  style="margin-right: 5px;"></ion-icon>
          Finalizar compra</ion-button>
      </ion-col>
    </ion-row>
    
  </ion-content>
</div>