.description{
    color: var(--primary);
    font-size: 22px;
    font-family: 'Lato', sans-serif;
}

.lineCart{
    box-shadow: 2px 2px 2px #E0E0E0;
}

.colImage{
    margin-top: 20px;
}

.imageCart{
    width: 100px;
    border-radius: 100px;
}

.pedido{
    color: var(--primary);
}