/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    //#ec0000;
    --primary: #f10303;
    --secundary: #ff3e3e;
    --body: #FAFAFA;
    --text-menu: #424242;
    --text-body: #fff;
    //--title: #B71C1C;
    --title: #F44336;
    --line: #616161;
}

body{
    font-family: 'Lato', sans-serif;
}


ion-item{
    font-family: 'Lato', sans-serif;
    color: var(--text-menu);
}
  
  #sidenav {
    ion-item{
      cursor: pointer;
    }
    ion-item[submenu-item] {
      padding-left: 25px; // maybe margin-left would work better to move the border as well
      color: var(--line);
      
    }
}

.item-menu{
    cursor: pointer;
}
 

.class-title{
    color: var(--primary);
    font-size: 24px;
}

.icon-title{
    color: var(--primary);
    font-size: 24px;
}

.col-title{
    margin: 10px 0 15px 0;
}

.btn-salvar{
    background-color: var(--primary);
    color: var(--text-body);
    border: 1px solid var(--primary);
    padding: 6px 10px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;

}

.btn-cancelar{
    color: var(--primary) !important;
    background-color: #fff !important;
    border: 1px solid var(--primary);
    padding: 6px 10px;
    border-radius: 3px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.icon-navbar{
    font-size: 20px;
}

.btn-trash{
    color: var(--primary);
    cursor: pointer;
}

.font{
    font-family: 'Lato', sans-serif;
}

.color-primary{
    color: var(--primary)
}

.right{
    margin-left: 60%;
}

.buscaProdutos{
    border: 1px solid #8c8c8c;
    border-radius: 4px;
    width: 70%;
    height: 40px;
}

.colBusca{
    text-align: center;
    
}

.btnBusca{
    margin-top: -11px;
}