<ion-menu contentId="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-title (click)="customer(0)">{{name}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

        <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
        
        <ion-list class="list" id="sidenav" *ngFor="let category of categories; let index = index">
            <ion-item >
                <span  (click)="produtosCategoria(category)">{{category.name}}</span>
                <ion-icon (click)="menuItemHandler(index)" *ngIf="category.subcategories.length > 0" name="chevron-down-outline" class="right"></ion-icon>
            </ion-item>
              
            <div *ngIf="category.show">
                <div *ngFor="let sub of category.subcategories">
                    <ion-item  (click)="produtosSubcategoria(sub)" submenu-item *ngIf="category.show"> {{sub.name}}</ion-item>
                </div>
            </div>
        </ion-list>

    </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title (click)="home()" style="cursor: pointer;">
            <img src="../../../assets/images/logo.png" style="width: 125px;">
        </ion-title>

        <ion-buttons slot="end" >
            <ion-row>
                <ion-col>
                    <ion-button (click)="presentPopover($event)" >
                        <ion-icon class="icon-navbar" slot="icon-only" name="person-circle"></ion-icon>
                    </ion-button>
                </ion-col>

                <ion-col>
                    <ion-button style="margin-right: 15px;" (click)="viewCart()">
                        <ion-icon class="icon-navbar" slot="icon-only" name="cart-outline"></ion-icon>
                        <ion-badge  *ngIf="amountProducts > 0" color="primary">{{amountProducts}}</ion-badge>
                    </ion-button>
                </ion-col>
            </ion-row>
            <!-- <ion-searchbar placeholder="Buscar produtos" style="width: 600px;"></ion-searchbar> -->
            
        </ion-buttons>

        
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

        <ion-row>
            <ion-col class="colBusca">
                <input type="text" class="buscaProdutos font" [(ngModel)]="data.data.Name" placeholder="Informe o nome do produto..." name="busca">
                <ion-button (click)="buscaProdutos()"class="btnBusca"><ion-icon (click)="buscaProdutos()"  name="search-outline"></ion-icon></ion-button>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="highligths.length > 0">
            <ion-col  style="height: 400px;">
                <p></p>
                <ion-content class="slides">
                    <swiper-container [modules]="swiperModule" [autoPlay]="true" [loop]="true" [pagination]="true" navigation="true">
                        <swiper-slide class="swiperSlide" *ngFor="let high of highligths">
                            <img src="{{high.image}}" alt="{{high.name}}">
                        </swiper-slide>
                        
                    </swiper-container>
                </ion-content>
            </ion-col>
        </ion-row>
        

        

        <ion-row>
            <ion-col *ngFor="let product of products">
                <app-card-product imageProduct="{{product.photos[0].urlImage}}" (click)="openProduct(product.id)" nameProduct="{{product.name}}" valueProduct="{{product.value | formatNumber:'currency'}}" ></app-card-product>
            </ion-col>

            <ion-col *ngIf="products.length == 0">
                <p class="font">Produto não encontrado!</p>
            </ion-col>
        </ion-row>
            
        

    </ion-content>
</div>